.form-container {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.form-container h1 {
  padding: 15px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
.form-container .button {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.form-container label.js-error input {
  margin-bottom: 0;
  border: 1px solid #e57373;
}
.form-container label.js-error .error-message {
  position: relative;
  background: #e57373;
  display: block;
  padding: 3px 15px;
  text-align: center;
  color: white;
  margin-bottom: 16px;
}

.ui-button-icon-only {
  box-sizing: border-box;
  text-indent: -9999px;
  white-space: nowrap;
}
